<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GithubLab</title>
	<script src="lib/jquery-1.11.0.min.js"></script>
	<script src="lib/underscore.js"></script>
	<script src="lib/backbone.js"></script>
	<script src="lib/d3.min.js"></script>
	
	<link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
	<h1>GithubLab</h1>

	<section id="form-container">
		<form id="user-form">
			<input id="user-name" type="text" name="username" placeholder="Username">
			<button id="user-submit" type="submit">Search Github</button>
		</form>
	</section>
	<div id="user-container"></div>
	<ul id="timeline-container"></ul>

	<!-- User Information -->
	<script id="user-information" type="text/template">
		<img src="<%= avatar_url %>" title="<%= name %>" alt="<%= name %>">
	</script>

	<!-- Commit Group li -->
	<script id="timeline-item" type="text/template">
		<h3>Pushed <%= events_count %> commit(s) to <a href="<%= repo_url %>"><%= repo %></a></h3>
	  <ul id="events-container">
	  	<% _.each(events, function(event){ %>
	  		<li><%= event.payload.commits[0].message %></li>
	  	<% }) %>
	  </ul>
		<div><a href="#">more</a></div>
		<span class="date"><%= date %></span>
	</script>

	<!-- Commits li -->
	<script id="event-item" type="text/template">
		<%= payload.commits[0].message %>
	</script>

	<script src="javascripts/githublab.js"></script>
</body>
</html>