
html {
	background: rgb(245,245,245);
}
.top-header-container {
	position: fixed;
	height: 140px;
	border-bottom: 4px solid white;
	background: rgba(94,172,215,.9);
	z-index: 9999;
}
#timeline-line {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -webkit-calc(50% - 2px);
	width: 4px;
	height: 100%;
	background: orange;
}
ul {
	list-style-type: none;
}
#timeline-container {
	position: relative;
	top: 140px;
	padding: 0;
}
#timeline-container > li {
	position: absolute;
	width: 475px;
	padding: 0 20px 20px;
	border: 1px solid rgb(200,200,200);
	border-radius: 4px;
}
#timeline-container > li > ul {
	padding-left: 0;
}
#timeline-container > li h1 {
	font-size: 1.3em;
}
#timeline-container > li h2 {
	font-size: 1.1em;
}
#timeline-container > li h3 {
	font-size: 1em;
}
#timeline-container > li > li > h3 {
	margin: 10px 0;
}
#timeline-container > li span.date {
	float: right;
}
.user-image {
	position: absolute;
	top: 50px;
	right: 300px;
	height: 100px;
}
.actor-image {
	height: 60px;
}

span.square-left,
span.square-right {
	position: absolute;
	top: 50%;
  width: 4px; 
  height: 12px;
  margin-top: -6px;
  border-top: 4px solid rgb(245,245,245);
  border-bottom: 4px solid rgb(245,245,245);
  background: orange; 
}
span.square-left {
	right: -15px;
}
span.square-right {
	left: -16px;
}

.create-event {
	background: red;
}

/* tooltip/tooltip */
.tooltip-left,
.tooltip-right {
	position: relative;
	background: rgb(255,255,255);
	border: 1px solid rgb(200,200,200);
}
.tooltip-left:after, .tooltip-left:before,
.tooltip-right:after, .tooltip-right:before {
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.tooltip-left:after, .tooltip-left:before {
	right: 100%;
}
.tooltip-right:after, .tooltip-right:before {
	left: 100%;
}
.tooltip-left:after,
.tooltip-right:after {
	border-color: rgba(255,255,255,0);
	border-width: 8px;
	margin-top: -8px;
}
.tooltip-left:after {
	border-right-color: rgb(255,255,255);
}
.tooltip-right:after {
	border-left-color: rgb(255,255,255);
}
.tooltip-left:before,
.tooltip-right:before {
	border-color: rgba(158,158,158,0);
	/*border-right-color: rgb(200,200,200);*/
	border-width: 9px;
	margin-top: -9px;
}
.tooltip-left:before {
	border-right-color: rgb(200,200,200);
}
.tooltip-right:before {
	border-left-color: rgb(200,200,200);
}
