
html {
	background: rgb(245,245,245);
}
.top-header-container {
	position: fixed;
	height: 140px;
	border-bottom: 4px solid rgb(160,160,160);
	background: rgb(245,245,245) url(../images/services.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 999;
}
.logo {
	position: absolute;
	top: 35px;
	left: 50px;
	background: url(../images/logo.png) no-repeat;
	width: 250px;
	height: 80px;
	text-indent: -9999px;
}
.lab {
	position: absolute;
	top: 100px;
	left: -126px;
	background: url(../images/lab.png) no-repeat;
	width: 250px;
	height: 250px;
}
#input-container > div {
	top: 50px;
}
#timeline-line {
	position: absolute;
	top: -20px;
	bottom: 0px;
	left: -webkit-calc(50% - 2px);
	width: 4px;
	height: 110%;
	background: rgb(160,160,160);
}
ul {
	list-style-type: none;
}
#timeline-container {
	position: relative;
	top: 160px;
	padding: 0;
}
#timeline-container > li {
	position: absolute;
	width: 48.7%;
	padding: 0 20px 20px;
	border: 1px solid rgb(200,200,200);
	border-radius: 4px;
	-webkit-box-shadow: 3px 3px 8px 3px rgba(160,160,160,.2);
	-moz-box-box-shadow: 3px 3px 8px 3px rgba(160,160,160,.2);
	box-shadow: 3px 3px 8px 3px rgba(160,160,160,.2);
}
#timeline-container > li > ul {
	padding-left: 0;
}
#events-container li {
	margin-bottom: 12px;
}
#timeline-container li h1 {
	font-size: 1.3em;
}
#timeline-container li h2 {
	font-size: 1.1em;
}
#timeline-container li h3 {
	font-size: 1em;
	margin: 10px 0;
	display: inline;
	color: rgb(100,100,100);
}
#timeline-container li h3:nth-child(1) {
	min-width: 60px;
}
#events-container li h3 span {
	color: orange;
}
#timeline-container div.more  {
	float: left;
}
span.date {
	float: right;
}
.user-image {
	position: absolute;
	top: 20px;
	right: 0px;
	height: 100px;
}
.actor-image {
	height: 60px;
}

span.square-left,
span.square-right {
	position: absolute;
	top: 50%;
  width: 4px; 
  height: 12px;
  margin-top: -6px;
  border-top: 4px solid rgb(245,245,245);
  border-bottom: 4px solid rgb(245,245,245);
  background: orange; 
}
span.square-left {
	right: -3.4%;
}
span.square-right {
	left: -3.4%;
}

.create-event {
	background: rgb(236,255,252) !important;
	left: 25%;
}

/* tooltip/tooltip */
.tooltip-left,
.tooltip-right {
	position: relative;
	background: rgb(255,255,255);
	border: 1px solid rgb(200,200,200);
}
.tooltip-left:after, .tooltip-left:before,
.tooltip-right:after, .tooltip-right:before {
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.tooltip-left:after, .tooltip-left:before {
	right: 100%;
}
.tooltip-right:after, .tooltip-right:before {
	left: 100%;
}
.tooltip-left:after,
.tooltip-right:after {
	border-color: rgba(255,255,255,0);
	border-width: 8px;
	margin-top: -8px;
}
.tooltip-left:after {
	border-right-color: rgb(255,255,255);
}
.tooltip-right:after {
	border-left-color: rgb(255,255,255);
}
.tooltip-left:before,
.tooltip-right:before {
	border-color: rgba(158,158,158,0);
	border-width: 9px;
	margin-top: -9px;
}
.tooltip-left:before {
	border-right-color: rgb(200,200,200);
}
.tooltip-right:before {
	border-left-color: rgb(200,200,200);
}
